.wrapper_home {
  margin: 50px 0;
}

.wrapper_home .container {
  padding: 0 150px;
}

.wrapper_home .container .row {
  display: flex;
}

.wrapper_home .container .row .warapper_text {
  margin-top: 10%;
  flex: 1;
}

.wrapper_home .container .row .warapper_text h1 {
  color: #4fd43b;
  font-weight: 300;
  font-size: 35px;
}

.wrapper_home .container .row .warapper_text p {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Poppins", sans-serif;
  line-height: 26px;
  font-weight: 300;
  font-size: 19px;
}

.wrapper_home .container .row .wrapper_image {
  flex: 1;
}

.wrapper_home .container .row .wrapper_image img {
  width: 100%;
  height: 100%;
}

/* Ipad pro */
@media (max-width: 1050px) {
  .wrapper_home .container {
    padding: 0 100px;
  }

  .wrapper_home .container .row .warapper_text {
    margin-top: 8%;
  }

  .wrapper_home .container .row .warapper_text h1 {
    font-size: 30px;
  }

  .wrapper_home .container .row .warapper_text p {
    margin-top: 10px;
    font-size: 17px;
  }
}

/* Big tablets */
@media (max-width: 1050px) {
  .wrapper_home .container {
    padding: 0 50px;
  }
}

/* Ipad */
@media (max-width: 1050px) {
  .wrapper_home .container {
    padding: 0 50px;
  }
}
