.wrapper_home {
  margin: 50px 0;
}

.wrapper_home .container {
  padding: 0 150px;
}

/* Ipad pro */
@media (max-width: 1050px) {
  .wrapper_home .container {
    padding: 0 100px;
  }
}

/* Big tablets */
@media (max-width: 900px) {
  .wrapper_home .container {
    padding: 0 50px;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .wrapper_home {
    margin: 20px 0;
  }
}
